.DS_Store
plottingCode/Fig1_schematic/~$formation_channels_legend.pptx
*data-checkpoint.ipynb
*.pyc
*checkpoint.ipynb
plottingCode/.ipynb_checkpoints/*
plottingCode/.ipynb_checkpoints/Figure_14_and_appendix_Formation_Efficiency_formation_channel_contribution-checkpoint.ipynb
*.zip
/paper_files
/paper_zip
